html {
  background-image:
      linear-gradient(243deg, rgba(127,255,212,.75), rgba(127,255,212,0) 50.00%),
      linear-gradient(135deg, rgba(135,206,235,.75), rgba(135,206,235,0) 50.00%),
      linear-gradient(351deg, rgba(221,160,221,.75), rgba(221,160,221,0) 50.00%),
      url('https://media.istockphoto.com/vectors/graseby-watercolor-abstract-background-in-shades-of-grey-with-the-of-vector-id824411234?k=20&m=824411234&s=612x612&w=0&h=w9wwCiS1gk2OiV3NTfUyVjxjZwe6ISSFKbzNpjre1tA=');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 3em;
  font-stretch: condensed;
  font-family: 'Papyrus', sans-serif;
  font-style: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  font-size: 2em;
  font-family: 'Papyrus', sans-serif;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  font-family: 'Papyrus', sans-serif;
  font-variant: small-caps;
  text-align: center;
  position: relative;
}

.select-box {
  max-width: 36vw;
  max-height: auto;
  min-width: 36vh;
  min-height: auto;
  filter: drop-shadow(0 0 0.75rem black);
  position: relative;
  margin-bottom: 50px;
}

.message-selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

.affirmation-message {
  text-align: center;
  margin-bottom: 35%;
}

.mantra-message {
  text-align: center;
  margin-left: 15%;
  margin-bottom: 35%;
}

label {
  font-size: 1em;
  text-align: center;
  margin-bottom: 32%;
}

button {
  font-family: 'Papyrus', sans-serif;
  font-variant: small-caps;
  text-align: center;
  filter: drop-shadow(0 0 0.33rem gray);
  font-size: 0.75em;
  border-radius: 10pt;
  position: absolute;
  margin-bottom: 1%;
}

button:hover {
  background-color: #FFDC68;
  color: black;
}

button:focus {
  background-color: #FFA7A6;
  color: white;
}

.message-box {
  width: 45vw;
  height: 36vh;
  max-width: 45vw;
  max-height: 36vh;
  min-width: 45vh;
  min-height: 36vh;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem black);
}

.mediation-guy {
  width: 5em;
  height: 5em;
  filter: drop-shadow(0 0 0.33rem gray);
  position: absolute;
}

.hidden {
  display: none;
}